# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

standalone/*.log
standalone/log.txt
standalone/npm-debug.log*

standalone/.idea
standalone/.ionic
standalone/.sass-cache
standalone/.sourcemaps
standalone/.versions
standalone/.vscode
standalone/coverage
standalone/dist
standalone/node_modules
standalone/platforms
standalone/plugins
standalone/www
