.avatar-icon {
    width: 120px !important;
    height: 120px !important; 
    margin: auto;
    border: 1px solid black;
}


.avatar {
    width: 120px !important;
    height: 120px !important; 
    border-radius: 50%
}


.edit-btn {
    width: 30px;
    position: relative;
    top: 30px;
    left: 45px;
    border-radius: 18px;
    background: white;
}