<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss(null)">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Choose University</ion-title>
  </ion-toolbar>
</ion-header>

 
<ion-searchbar
  (ionChange)="onInput($event)"  debounce="500" 
  (ionCancel)="onCancel($event)" animated placeholder="Search...">
  
</ion-searchbar>

<ion-content>
 

  <ion-list>
    <ion-item *ngFor="let uni of universities" (click)="pickUni(uni)">
      <ion-label >{{uni.universities.name}}</ion-label>
    </ion-item>
  
  </ion-list>
</ion-content>