.logo {
    max-width: 350px;
    max-height: 250px;
    margin: 0 auto;
    display: block;
}

.btm-buttons {
    padding: 10px;
}

ion-item {
    --padding-end: 20px;
}

form {
    padding-left: 20px;
    padding-right: 20px;
}
